.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    gap: 15px;
}
.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background::before{
    content: '';
    background-image: url(night_sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    opacity: 50%;
    }
.grid-item{
    background-color: rgb(188, 255, 231);
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.grid-container div{
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 7px 7px;
    position: relative;
}
.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(188, 135, 237);
  }
.item2 {
    background-color: rgb(188, 255, 231);
}
.item3{
    background-color: rgb(255, 174, 24);
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(253, 91, 91);
}
